<div class="about">
  <h1>Taras Shumeiko</h1>

  <p>
    I was born in Ivano-Frankivsk in 1994 and live for many years in this city. Also here I've got a Bachelor
    Degree in Mechanical Engineering with majors like Physics & Computer Science. As for hobbies, I like playing
    football, watching documentary movies, walking on weekends. But now I'm interested in Front-End Development.
    Click <a target="_blank" rel="noopener" href="https://github.com/TarasShumeiko">here</a> to see my projects on
    GitHub and click on button Show skills below to see what computer skills should Front-End Developer to know. You
    can also add your skills.
  </p>

  <div>
    <button routerLink="contacts">Contacts</button>
    <button routerLink="skills">Show skills</button>
  </div>
</div>
