<div [hidden]="!showData" class="user-data">
  <div>Hello {{firstName.value}} {{lastName.value}}!</div>
  <div>Your phone number: {{phoneNumber.value}}</div>
  <div>Your email: {{email.value}}</div>
  <div>You have {{years}} years old</div>
  <div>You earn {{salary.value}} KGS</div>
</div>
<div class="reactive-form">
  <form (ngSubmit)="onSubmit()">
    <div class="content" [formGroup]="formGroup">
      <label for="firstName">First Name:</label>
      <input
        type="text"
        formControlName="firstName"
        maxlength="20"
        id="firstName"
        placeholder="name"
      >
      <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
        Поле 'First Name' обов'язкове для заповнення.
        Повинне містити мінімум 3 букви
      </div>

      <label required for="lastName">Last Name:</label>
      <input
        type="text"
        formControlName="lastName"
        maxlength="20"
        id="lastName"
        placeholder="surname"
      >
      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
        Поле 'Last Name' обов'язкове для заповнення.
        Повинне містити мінімум 3 букви
      </div>

      <label required for="phoneNumber">Phone Number:</label>
      <input
        type="text"
        formControlName="phoneNumber"
        id="phoneNumber"
        placeholder="0991234567"
      >
      <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
        Поле 'Phone Number' обов'язкове для заповнення.
        Повинне містити 10-12 цифр
      </div>

      <label required for="email">Email:</label>
      <input
        type="text"
        formControlName="email"
        id="email"
        placeholder="example@gmail.com"
      >
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        Поле 'Email' обов'язкове для заповнення,
        наприклад example@gmail.com
      </div>

      <label required for="birthday">Date of Birth:</label>
      <input
        type="date"
        formControlName="birthday"
        id="birthday"
      >
      <div *ngIf="birthday.invalid && (birthday.dirty || birthday.touched)">
        Поле 'Date of Birth' обов'язкове для заповнення.
        Вкажіть дату народження. 18+
      </div>

      <label required for="salary">Salary in KGS:</label>
      <input
        type="number"
        formControlName="salary"
        id="salary"
        placeholder="25000"
      >
      <div *ngIf="salary.invalid && (salary.dirty || salary.touched)">
        Поле 'Salary in KGS' обов'язкове для заповнення.
        Число не повинне перевищувати 1 млн
      </div>
    </div>

    <button routerLink="" class="back">Back</button>
    <button type="submit">Confirm</button>
  </form>
</div>
