.reactive-form {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
  .content {
    display: flex;
    flex-direction: column;
  }
  div {
    margin-top: 1rem;
    width: 400px;
  }
  label {
    margin-top: 1rem;
  }
  button {
    margin: 1rem;
    border-radius: 5rem;
    cursor: pointer;
  }
}
