.registerForm {
  text-align: center;
  margin-top: 5rem;
  div {
    display: flex;
    justify-content: center;
    margin: .5rem 0;
    div {
      display: flex;
      justify-content: space-between;
      width: 400px;
    }
  }
  label {
    margin-right: 1rem;
  }
  button {
    margin: 1rem;
    border-radius: 5rem;
    cursor: pointer;
  }
}
