.registerForm {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
  .content {
    display: flex;
    flex-direction: column;
  }
  div {
    margin: 1rem 0;
    width: 400px;
  }
  button {
    margin: 1rem;
    border-radius: 5rem;
    cursor: pointer;
  }
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}
