<div class="skills">
  <h1>Computer skills</h1>

  <div *ngFor="let skill of skills; let i = index;">
    <span>{{i + 1}}. {{skill.name}}</span>
    <button class="rm" (click)="removeSkill(skill.id)">&times;</button>
  </div>
  
  <div class="add-skill">
    <input
      type="text"
      placeholder="Add skill.."
      [(ngModel)]="name"
      (keydown.enter)="addSkill()"
    >
    <button (click)="addSkill()">Add skill</button>
  </div>

  <button routerLink="" class="back">Back</button>
</div>
